#a{
    border: 1px solid blue;
    display: block;
}
#b{
    border: 1px solid rgb(255, 0, 0);
    display: none;  
}
#c{
    border: 1px solid rgb(234, 0, 255);
    display: none;   
}
#d{
    border: 1px solid rgb(255, 0, 0); 
    display: none;  
}
#e{
    border: 1px solid rgb(255, 251, 0);
    display: none;    
}
#qiz{
    display: none;  
}
.article img{
    width: 100%;
    height: 100%;
    border-radius: 0px;
}
.article h1{
    font-size:5vw ;
    
    color: rgb(0, 38, 255);
}
.article h3{
    font-size: 5vw;
    color: orangered;
}
.article p{
    font-size: 4vw;
    line-height: normal;
    line-break: normal;
    text-align: justify;
    margin: 10px;
    color: black;
}
.article ul li{
    font-size: 4vw;
    color: black;
    line-height: normal;
    line-break: normal;
    text-align: justify;
}

.article .i{
    background: rgb(233, 216, 216);
    font-size: 3vw;
    padding: 5px;
    border-radius: 10pxs;
}
.article .btn{
    display: flex;
    justify-content: space-between;
}
.article .btn button{
    padding: 4px;
    font-size: 4vw;
    margin: 4px;
}

.audio{
    background: black;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
audio{
    width:100%;
    background-color: rgb(238, 234, 234);
    margin: auto;
    height: 20px;
    box-shadow: 0px 0px 10px 2px blue;
}



