
@media (max-width: 800px){
    .slideDocs{
        display: flex;
        width: 100%;
        min-height: 110px;
        overflow-x: auto;
        overflow-y: hidden;
    }
   
    .slideDocs::-webkit-scrollbar{
        display: block;
        background: orangered; 
        border-radius: 1px;
        width: 20px;
        background-color: white;
        display: none;
    }

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
 
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 1px;
    display: none;
  }

    .livre .image{
        max-width: 120px;
        min-width: 10px;
        max-height: 140px;
        display: block;
        overflow: hidden;
        margin-right: 8px;
        border: 1px solid red;
    }
    .livre .image img{
        width: 250px;
        max-height: 120px;
    }
    .livre{
        display: flex;
        min-width: 95%;
        margin: 5px;
        padding: 4px;
        box-shadow: 0px 0px 8px 1px black;
    }

    .livre .text{
        max-width: 90%;
    }
    .livre h1{
        font-size: 5vw;
        color: blue;
        margin-top: 2px;
        margin-bottom: 5px;
    }
    .livre .cite{
        text-align: justify;  
        padding-bottom: 4px; 
        font-size: 4vw;
    }
    
    .livre p{
        margin-top: 2px;
        margin: 5px;
    }

    .livre span{
        color: red;
    }

    button{
        padding: 5px;
        background-color: blue;
        color: white;
        border: none;
        margin-top: 2px;
    }



}


@media (max-width: 800px){
    .cours{
        width: 100%;
        background-color: rgb(1, 1, 43);
        color: white;
        margin-top: 5px;
    }
    .coursflex{
        display: flex;
        padding: 10px;
    }
    .cours .texte{
        max-width: 70%;
    }
    .cours .image{
        max-width: 30%;
        min-width: 40px;
    }
    .cours h1{
        font-size: 7vw;
        text-align: center;
        margin-bottom: 8px;
    }
    .cours p{
        font-size: 4vw;
        line-height: 20px;

    }
}

@media (max-width: 800px){

    #myvideo, #myvideos{
        box-shadow: 0px -2px 7px 1px black;
        display: none;
    }

    #video{
        min-height: 84.9vh;
        margin-top: 6px;
        display: none;
    }

    #video hr{
        margin:1px 5px 10px 1px;
        width: 220px;
        text-align: left;
    }

    #video h1{
        margin: 1px;
        font-size: 5.4vw;
        text-transform: uppercase;
        color: blue;
        text-align: center;
    }

    #video h2{
        margin: 5px;
        font-size: 5.2vw;
        color: #ff4800;
        text-align: center;
    }

    #video p{
        margin:10px auto;
        font-size: 4vw;
        color: black;
        text-align: justify;
    }
    #video h3{
        margin:10px auto;
        font-size: 5vw;
        color: #ff4800;
        text-align: left;
    }

    #video ul{
        padding: 2px;
        margin: 2px 1px 8px 1px;
    }
    #video ul li{
        font-size: 4vw;
        padding: 2px;
        margin: 2px;
        text-align: left;
        line-height: 15px;
        color: black;
    }

    #video {
        margin: 5px;
        font-size: 5vw;
        color: blue;
        text-align: center;
    }
   video{
    width: 100%;
    border: 1px solid red;
   }

   #myvideos{
    height: auto;
    min-width: 90%; 
    margin-bottom: 10px;
    padding:1px 5px 1px 5px;
    display: flex;
    justify-content: right;
    align-items: center;
   }
   #myvideos button{
    margin: 1px 4px 1px 4px;
    height: 30px;
    font-size: 5vw;
    padding: 7px;
    display: flex;
    align-items: center;
   }

   #myvideos #timer{
        display: flex;
        width: 100%;
   }

   #myvideos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 0px;
   }
   #myvideos ul li{
    background: white;
    color: black;
    list-style: none;
    margin: 2px 5px 2px 2px;
    padding: 1px;
    font-size: 5vw;
    font-family: Fantasy;
    text-shadow: 2px 3px 10px 20px rgb(252, 29, 0);
   }
   #myvideos b{
    margin: 1px 5px 1px 5px;
   }
   #myvideos .t{
    font-size: 3vw;
   }

   .coutenueV{
    box-shadow: 0px 0px 6px 0px rgb(17, 0, 252);
    border-radius: 10px;
    padding: 6px;
   }

   .coutenueV ul{
    padding: 2px;
    margin: 2px;
    list-style: square;

   }
   .coutenueV ul li{
    list-style: none;
    font-size: 4.5vw;
    font-family: Arial;
}

    .coutenueV ul strong{
        text-align: left;
    }
    #video .btn{
        width: 97%;
        margin-top: 10px;
        box-shadow: 0px 0px 6px 0px rgb(17, 0, 252);
        border-radius: 10px;
        padding: 6px;
    }

    #video .btn button{
        margin: 0px;
        padding:5px 10px 5px 10px;
        border-radius: 10px;
    }
}
@media (max-width: 800px){
    .infos{
       min-width: 90%; 
       background-color: rgb(16, 0, 243);
       padding: 10px;
    }
    .infos h1{
        color: white;
        font-size: 8vw;
        text-align: center;
        padding: 7px;
    }

    .infos-details{
        background-color: orangered;
        display: flex;
        align-items: center;
        padding: 3px 6px 3px 6px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px black;
    }

    .infos-details .images{
        width: 60px;
        height: 50px;
        background: white;
        padding: 5px;
        border-radius: 6px;
        border: 1px solid blue;
        box-shadow: 0px 0px 10px 0px black;
    }
    .infos-details .text{
        width: 100%;
        padding: 2px;
    }
    .infos-details h3{
        color: white;
        font-size: 5vw;
        text-transform: uppercase;
        font-weight: 900;
    }
    .infos-details p{
        color: white;
        font-size: 4.3vw;
    }
}