video {
   width: 100%;
 }
 #playlist {
   width: 100%;
   margin: 0;
   padding: 0;
   list-style: none;
 }
 .videos a {
   text-decoration: none;
 }
 .videos .active a {
   color: #5db0e6;
   text-decoration: none;
 }
 .videos li a {
   color: #eeeedd;
   background: #333;
   padding: 12px;
   display: block;
 }
 .videos li a:hover {
   text-decoration: none;
 }
 