body{
    background: white;
    margin: 0px;
}
*{
    box-sizing: border-box;
}

body{
    background: white;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}


.btn{
    padding: 8px;
    margin: 5px auto;
    background: orangered;
    border: none;
}

button{
    cursor: pointer;
}

@media (min-width: 851px) {
    #body{
        display: none;
    }
}
@media (max-width: 850px){
    main{
        height: 100%;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        background-color: orangered;
        position: fixed;
        top: 0%;
        margin-bottom: 50px;
        color: white;
    }
    header .openMenu{
        color: orangered;
        font-size: 5vw;
        font-family: impact;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: max-content;
        padding: 1px 5px 1px 5px;
        margin: auto 2px auto 5px;
        background-color: white;
        border: 1px solid white;
        cursor: pointer;
    }

    header .image{
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 25px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    header .userDetails{
        color: white;
        font-size: 20px;
    }


}
/*la menu de l'application*/
@media (max-width: 850px){
    /* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
    nav{
        display: none;
        background: white;
        height: 100%;
        border: 1px solid red;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 1;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }
   .closeMenu{
    background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border: 1px solid red;
        padding: 5px;
        float: right;
        left: 183px;
        cursor: pointer;
    }

    .navHeader{
        background-image: url('/images/slide2.jpg');
        background-position: center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .menu ul{
        padding: 5px;
    }
    .menu ul li{
        list-style: none;
        font-size: 5vw;
    }

}


/* la partie d'accueill de l'application*/
@media (max-width: 850px){
   main{
    border: 2px solid black;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 51px;
    background: rgb(233, 228, 228);
    overflow-y: auto;
   }
   #home{
    margin: 5px auto;
   }
   .home .hHeader{
    background: ornage;
    width: 100%;
    height: 100%;
   }

   #home .card{
    background: rgb(2, 2, 44);
    width: 100%;
    padding: 10px;
    color: white;
   }
   #home .card h1{
    color: white;
    font-size: 9vw;
    text-align: center;
    margin: 1px auto;
    border: none;
   }
   #home .timer{
    background-color: orangered;
    padding: 10px;
    overflow: hidden;
    overflow-wrap: break-word
   }
   .timer #demo{
    font-size: 7vw;
    text-align: center;
    margin: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 5px 2px 8px black;
   }
   #home .timer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 2px;
   }
   #home .timer ul li{
    background: white;
    color: black;
    list-style: none;
    margin: 2px 5px 2px 5px;
    padding: 5px;
    font-size: 6vw;
    font-family: Fantasy;
   }
   .timer b{
    margin: 1px 5px 1px 5px;
   }
   .timer .t{
    font-size: 3vw;
   }

   .timer h3{
    font-size: 6vw;
    text-align: center;
    margin: 2px;
   }
   .timer p{
    font-size: 4.5vw;
    text-align: center;
    margin: 2px;
   }
   .timer .btn{
    margin: 2px auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
   }
   .timer .btn button{
    padding: 2vw;
    width: 100%;
    margin: 4px;
   }

   .timer .btn button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
   .timer .btn button .fa-whatsapp{
    color: green;
    font-size: 7vw;
    margin-right: 5px;
   }

   .timer .btn button .fa-file{
    color: orangered;
    font-size: 7vw;
    margin-right: 5px;
   }

}



/* la partie profile*/
@media (max-width:850px){
    #profile{
        display: none;
    }
}
/* la partie produit slider de mon application */
@media (max-width: 850px){
    
    .slideProduit{
        width: 100%;
        height: 170px;
        /*background: red;*/
        margin:auto;
        margin-bottom: 10px;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
        cursor: pointer;
    }
    .slideProduit::-webkit-scrollbar{
        display: block;
        background: orangered; 
        border-radius: 1px;
        width: 20px;
        background-color: white;
        display: none;
    }

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
 
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 1px;
    display: none;
  }

  .slideCard{
    max-width: 100%;
    min-width: fit-content;
    min-height: 160px;
    height: 100%;
    margin: 5px;
    padding: 6px;
    display: flex;
    background: white;
    border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }
  .slideCard .image{
    width: 200px;
    height: 150px;
    overflow: hidden;
    margin-right: 3px;

  }
  .slideCard .text{
    width: 100%;
    margin-left: 4px;
  }
  .slideCard .image img{
    width: fit-content;
  }

  .slideCard .text h1{
    font-size: 5.8vw;
    color: blue;
    margin: 1px;
  }
  .slideCard .text p{
    font-size: 4vw;
    color: black;
    margin: 2px;
    text-align: justify;
  }

  .slideCard .text button{
    margin: 5px;
    padding: 6px;
    background: rgb(0, 0, 46);
    color: white;
    border: none;
    cursor: pointer;
  }
    
    
}
#modal3,#modal2,#modal1,#edit{
    display: none;
}
/* signup form*/
@media (max-width: 800px){
    /* formulaire*/
#signupF{
    display: flex;
    height:85vh;
    justify-content: center;
    align-items: center;
}
#modal1,#modal3,#modal2{
    height: max-content;
}
.modal{
    width: 90%;
    margin:10px auto;
    padding: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.modal input{
    width: 95%;
    padding: 7px;
    margin: 10px auto;
    border: none;
}
input:focus{
    outline: none;
    border: none;
}
img{
    width: 100%;
}
}

/*profile de l'application*/
@media (max-width: 800px){
    #profile{
        background: gray;
        display: flex;
        align-items: center;
        align-items: center;
    }
    #profile .image{
        border-radius: 20px;
        width: 50%;
        margin: auto;
    }
    #profile .image img{
        border-radius: 50%;
    }
    #profile ul{
        padding: 2px;
        background-color: white;
        margin:-5px 5px;
    }
    #profile ul li{
        list-style: none;
        font-size: 6vw;
        margin: 1px 2px 2px 2px;
        padding: 3px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

/* le pied de mon site web*/
@media (max-width: 800px){
    footer{
        width: 100%;
        height: 50px;
        background: black;
        position: fixed;
        bottom: 0%;
    }

    footer ul{
        display: flex;
        margin: 2px;
        padding: 2px;
        justify-content: space-between;
    }
    footer ul li{
        width: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: white;
        margin: auto 5px auto 5px;
        font-size: 8vw;
    }
    footer i{
        color: black;
        font-size: 80px;
    }

    #footerMenu{
        cursor: pointer;
    }

    footer .fa-home{
        color: orangered;
    }

    footer li:hover{
        position: relative;
        bottom: 10px;
        box-shadow: 0px -4px 9px -2px rgba(0,0,0,0.75);
    }
}