body{
    background: white;
    margin: 0px;
}
*{
    box-sizing: border-box;
}

body{
    background: white;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}


.btn{
    padding: 8px;
    margin: 5px auto;
    background: orangered;
    border: none;
}

button{
    cursor: pointer;
}
/* formulaire*/
#modal1, #modal2, #modal3{
    display: none;
}
.modal{
    width: 300px;
    margin:10px auto;
    padding: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.modal input{
    width: 95%;
    padding: 7px;
    margin: 10px auto;
    border: none;
}
input:focus{
    outline: none;
    border: none;
}
img{
    width: 100%;
}
@media (min-width: 851px) {
    #body{
        display: none;
    }
}
@media (max-width: 850px){
    main{
        height: 100%;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        background-color: orangered;
        position: fixed;
        top: 0%;
        margin-bottom: 50px;
        color: white;
    }
    header .openMenu{
        color: orangered;
        font-size: 5vw;
        font-family: impact;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: max-content;
        padding: 1px 5px 1px 5px;
        margin: auto 2px auto 5px;
        background-color: white;
        border: 1px solid white;
        cursor: pointer;
    }

    header .image{
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 25px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    header .userDetails{
        color: white;
        font-size: 20px;
    }


}
/*la menu de l'application*/
@media (max-width: 850px){
    /* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
    nav{
        display: none;
        background: white;
        height: 100%;
        border: 1px solid red;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 1;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }
   .closeMenu{
    background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border: 1px solid red;
        padding: 5px;
        float: right;
        left: 183px;
        cursor: pointer;
    }

    .navHeader{
        background-image: url('/images/slide2.jpg');
        background-position: center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .menu ul{
        padding: 5px;
    }
    .menu ul li{
        list-style: none;
        font-size: 5vw;
    }

}


/* la partie d'accueill de l'application*/
@media (max-width: 850px){
   main{
    border: 2px solid black;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 51px;
    background: rgb(233, 228, 228);
    overflow-y: auto;
   }
   #home{
    margin: 5px auto;
   }
   .home .hHeader{
    background: ornage;
    width: 100%;
    height: 100%;
   }

   #home .card{
    background: rgb(2, 2, 44);
    width: 100%;
    padding: 10px;
    color: white;
   }
   #home .card h1{
    color: white;
    font-size: 9vw;
    text-align: center;
    margin: 1px auto;
    border: none;
   }
   #home .timer{
    background-color: orangered;
    padding: 10px;
   }
   .timer #demo{
    font-size: 7vw;
    text-align: center;
    margin: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 5px 2px 8px black;
   }
   #home .timer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 2px;
   }
   #home .timer ul li{
    background: white;
    color: black;
    list-style: none;
    margin: 2px 5px 2px 5px;
    padding: 5px;
    font-size: 6vw;
    font-family: Fantasy;
   }
   .timer b{
    margin: 1px 5px 1px 5px;
   }
   .timer .t{
    font-size: 3vw;
   }

   .timer h3{
    font-size: 6vw;
    text-align: center;
    margin: 2px;
   }
   .timer p{
    font-size: 4.5vw;
    text-align: center;
    margin: 2px;
   }
   .timer .btn{
    margin: 2px auto;
    width: max-content;
   }
   .timer .btn button{
    padding: 3vw;
   }

}



/* la partie profile*/
@media (max-width:850px){
    #profile{
        display: none;
    }
}
/* la partie produit slider de mon application */
@media (max-width: 850px){
    .detail p b{
        font-size: 7vw;
        color: orangered;
        margin: 0px;
        padding: 0px;
    }
    .detail p small{
        font-size: 5vw;
        color: orange;
        margin: 0px;
        margin-bottom: 1px;
        padding: 0px;
    }
    .detail samp{
        font-size: 5vw;
        color: red;
        margin: 0px;
        margin-bottom: 1px;
        padding: 0px;
    }
    .detail input{
        padding: 5px;
        background: none;
        border: none;
        width: max-content;
        outline: none;
        font-size: 5vw;
    }
    .slideProduit{
        width: 100%;
        /*background: red;*/
        margin:auto;
        display: flex;
        overflow: auto;
        border: 1px solid red;
    }
    .slideProduit::-webkit-scrollbar{
        display: block;
        background: orangered; 
        border-radius: 1px;
        width: 20px;
        background-color: white;
    }

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
 
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 1px;
  }
  
    .slideProduit .product{
        min-width: 100%;
        height: 100%;
        background: whitesmoke;
        margin:  5px 20px  0 0;
        border-radius: 20px;
        position: relative;
        left: 0;
        transition: 0.5s;
        display: flex;
 

    }
    picture{
        max-width: 40%;
        height: 100%;
        padding: 2px;
        /*background: green;*/
        display: flex;
        overflow: hidden;
        margin-bottom: 2px;
    }
    picture img{
        width: 100%;
        height: auto;
    }
    .detail,
    .button{
        width: 90%;
        /*background: red;*/
        margin: auto;
        padding: 5px;
        display: block;
        font-size: 20px;
        color: #444;
    }
    small{color: #555;}
    a{
        text-decoration: none;
        padding: 6px 14px;
        font-size: 15px;
        margin: 5px 0 0 20px;
        display: inline-block;
        background: #6773ff;
        color: white;
    }
    p.star{
        margin: 5px auto;
        width: 65%;
        font-size: 25px;
        color: #808080;
    }
}

/* le pied de mon site web*/
@media (max-width: 800px){
    footer{
        width: 100%;
        height: 50px;
        background: black;
        position: fixed;
        bottom: 0%;
    }

    footer ul{
        display: flex;
        margin: 2px;
        padding: 2px;
        justify-content: space-between;
    }
    footer ul li{
        width: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: white;
        margin: auto 5px auto 5px;
        font-size: 8vw;
    }
    footer i{
        color: black;
        font-size: 80px;
    }

    #footerMenu{
        cursor: pointer;
    }

    footer .fa-home{
        color: orangered;
    }

    footer .faHome:hover{
        position: relative;
        bottom: 10px;
        box-shadow: 0px -4px 9px -2px rgba(0,0,0,0.75);
    }
}